---
import DecorativeAvatar from "../DecorativeAvatar/DecorativeAvatar.astro";
import { css } from "@styles/css";

type AvatarImageProps = Omit<Parameters<typeof DecorativeAvatar>[0], "alt">;

interface Props extends AvatarImageProps {}

const { class: className, ...avatarImageProps } = Astro.props;

const { nickname } = avatarImageProps;

const rootStyle = css({
  overflow: "visible",

  "& *": {
    pointerEvents: "none",
  },
});
---

<a
  class:list={[rootStyle, className]}
  href={`/cast/${nickname}`}
  aria-label={`店員"${nickname}"の紹介ページ`}
>
  <DecorativeAvatar {...avatarImageProps} />
</a>
