---
import DecorativeAvatar, {
  type Props as BaseProps,
} from "@components/domains/avatar/DecorativeAvatar/DecorativeAvatar.astro";
import { href } from "@lib/utils/base-path";
import { css } from "@styles/css";

interface Props extends Omit<BaseProps, "nickname" | "width" | "height"> {
  nickname: string;
}

const { class: className, ...avatarImageProps } = Astro.props;

const { nickname } = avatarImageProps;

const rootStyle = css({
  overflow: "visible",

  "& *": {
    pointerEvents: "none",
  },
});
---

<a
  class:list={[rootStyle, className]}
  href={href(`/casts/${nickname}`)}
  aria-label={`店員"${nickname}"の紹介ページ`}
>
  <DecorativeAvatar {...avatarImageProps} />
</a>
