---
import CastList from "@components/domains/cast/CastList/CastList.astro";
import { fetchCasts } from "@lib/contents/casts";
import { css } from "@styles/css";

const fitStyle = css({
  display: "flex",
  flexDir: "column",
  alignItems: "center",
  justifyContent: "center",

  py: "26",
  gap: {
    base: "16",
    _pc: "4",
  },
});

const _casts = await fetchCasts();

const casts = [..._casts, ..._casts, ..._casts, ..._casts, ..._casts];
---

<nav aria-label="店員さん一覧" class={fitStyle}>
  <CastList casts={casts} />
  {/* TODO: スタッフの一覧へ */}
</nav>
