---
import CastList from "@components/domains/cast/CastList/CastList.astro";
import { css } from "@styles/css";

const fitStyle = css({
  display: "flex",
  flexDir: "column",
  alignItems: "center",
  justifyContent: "center",

  py: "26",
  gap: {
    base: "16",
    _pc: "4",
  },
});
---

<nav aria-label="店員さん一覧" class={fitStyle}>
  <CastList />
  {/* TODO: スタッフの一覧へ */}
</nav>
