# サイトを public 公開するかどうかの設定 (true .. html 公開用のメタ情報をビルドに含める)
SITE_IS_PUBLIC=false

# サイト公開時のドメイン名
SITE_DOMAIN=localhost:4321

# Contents 利用に持っくデータを用いる
MOCK=true

# Content Service の Content ID
CONTENTS_SERVICE_ID=your-service-id

# Content Service の API Key
CONTENTS_API_KEY=your-api-key

# 店員さん用 Content Service の Endpoint URL
CONTENTS_CASTS_URL=casts-url

# 店員さん用 Content Service の API Key
CONTENTS_CASTS_API_KEY=casts-api-key
