---
import Layout from "@layouts/Layout.astro";
---

<Layout
  headMeta={{
    title: "お知らせ一覧 | ロリっ子喫茶ぷぷりえ",
    description: "ロリっ子喫茶ぷぷりえのお知らせ一覧です.",
    keywords: [],
  }}
>
  <main>
    <section>
      <h1>お知らせ一覧</h1>
      <p>お知らせ一覧のコンテンツがここに入ります</p>
    </section>
  </main>
</Layout>
