---
import type { UnionArrayIndex } from "@/lib/utils/arithmetic-types";
import { css, cva } from "@styles/css";
import type { ColorName } from "lib/styles/tokens/colors";

/**
 * 0 .. 長方形
 * 8 .. 直角三角形
 * その間はそれぞれに近くなる
 */
type ShapeType = 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8;

// 30 度ずつ回転
const rotateTypes = [
  0, 30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330,
] as const;

type RotateIndex = UnionArrayIndex<typeof rotateTypes>;

interface Props {
  /**
   * 0 .. 長方形
   * 8 .. 直角三角形
   * その間はそれぞれに近くなる
   */
  shape: ShapeType;

  /**
   * 30 * value
   */
  rotate: RotateIndex;

  /**
   * @default false
   */
  inverse?: boolean;

  /**
   *
   */
  color: ColorName;
}

const { shape, rotate, inverse, color } = Astro.props;

const rootStyleRecipe = cva({
  base: {
    pos: "absolute",
    transform: "[translate(-50%, -50%)]",
    left: "[50%]",
    top: "[50%]",
  },
  variants: {
    inverse: {
      true: {
        transform: "[translate(-50%, -50%) scale(-1, 1)]",
      },
    },
  },
});

const origamiStyleRecipe = cva({
  base: {
    w: "43",
    h: "43",

    _before: {
      content: "''",
      pos: "absolute",
      inset: "[-10%]",
    },
  },
  variants: {
    rotate: {
      0: {
        transform: "[rotate(0deg)]",
      },
      30: {
        transform: "[rotate(30deg)]",
      },
      60: {
        transform: "[rotate(60deg)]",
      },
      90: {
        transform: "[rotate(90deg)]",
      },
      120: {
        transform: "[rotate(120deg)]",
      },
      150: {
        transform: "[rotate(150deg)]",
      },
      180: {
        transform: "[rotate(180deg)]",
      },
      210: {
        transform: "[rotate(210deg)]",
      },
      240: {
        transform: "[rotate(240deg)]",
      },
      270: {
        transform: "[rotate(270deg)]",
      },
      300: {
        transform: "[rotate(300deg)]",
      },
      330: {
        transform: "[rotate(330deg)]",
      },
    },
    shape: {
      0: {
        clipPath: "[polygon(25% 0, 75% 0, 75% 100%, 25% 100%)]",
      },
      1: {
        clipPath: "[polygon(21.875% 0, 65.625% 0, 78.125% 100%, 21.875% 100%)]",
      },
      2: {
        clipPath: "[polygon(18.75% 0, 56.25% 0, 81.25% 100%, 18.75% 100%)]",
      },
      3: {
        clipPath: "[polygon(15.625% 0, 46.875% 0, 84.375% 100%, 15.625% 100%)]",
      },
      4: {
        clipPath: "[polygon(12.5% 0, 37.5% 0, 87.5% 100%, 12.5% 100%)]",
      },
      5: {
        clipPath: "[polygon(9.375% 0, 28.125% 0, 90.625% 100%, 9.375% 100%)]",
      },
      6: {
        clipPath: "[polygon(6.25% 0, 18.75% 0, 93.75% 100%, 6.25% 100%)]",
      },
      7: {
        clipPath: "[polygon(3.125% 0, 9.375% 0, 96.875% 100%, 3.125% 100%)]",
      },
      8: {
        clipPath: "[polygon(0% 0, 100% 100%, 0% 100%)]",
      },
    },
    color: {
      smoke: {
        _before: {
          bgGradient: "smoke",
        },
      },
      olive: {
        _before: {
          bgGradient: "olive",
        },
      },
      berry: {
        _before: {
          bgGradient: "berry",
        },
      },
      honey: {
        _before: {
          bgGradient: "honey",
        },
      },
      soda: {
        _before: {
          bgGradient: "soda",
        },
      },
      rose: {
        _before: {
          bgGradient: "rose",
        },
      },
      matcha: {
        _before: {
          bgGradient: "matcha",
        },
      },
      latte: {
        _before: {
          bgGradient: "latte",
        },
      },
      lavender: {
        _before: {
          bgGradient: "lavender",
        },
      },
      carrot: {
        _before: {
          bgGradient: "carrot",
        },
      },
      ice: {
        _before: {
          bgGradient: "ice",
        },
      },
      mint: {
        _before: {
          bgGradient: "mint",
        },
      },
    },
  },
});

const rootStyle = rootStyleRecipe({
  inverse,
});

const origamiStyle = origamiStyleRecipe({
  color,
  shape,
  rotate: rotateTypes[rotate],
});

const vectorStyle = css({
  pos: "absolute",
  left: "[50%]",
  top: "[50%]",
  transform: "[translate(-50%, -50%)]",
  w: "43",
  h: "43",
  opacity: "none",
});

console.log(
  "rotate: ",
  rotate,
  "inverse: ",
  inverse,
  "color: ",
  color,
  "class: ",
  vectorStyle,
);
---

<div class={rootStyle} aria-hidden>
  <div class={origamiStyle}></div>
</div>
