---
import DecorativeLink from "@components/decoratives/Links/DecorativeLink/DecorativeLink.astro";
import { getMeta } from "@content/meta";
import { css } from "@styles/css";

const {
  articles: { backLinkLabel },
} = await getMeta();

const navClass = css({
  display: "flex",
  flexDir: "column",
  gap: "16",
  h: {
    base: "32",
    _pc: "64",
  },
});
---

<nav class={navClass} aria-label="記事ナビゲーション">
  <DecorativeLink href="/articles" themeColor="ice">
    {backLinkLabel}
  </DecorativeLink>
</nav>
