---
import { css } from "@styles/css";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {}

const props = Astro.props;

const fitStyle = css({
  minH: "bodyVH",
  h: "bodyVH",
});
---

<section class:list={[fitStyle, props.class]} {...props}>
  <slot />
</section>
