---
import type { DescriptionMetaProps } from "../types";

interface Props extends DescriptionMetaProps {}

const { description, keywords = [], title } = Astro.props;

const commonKeywords = [
  "ロリっ子喫茶ぷぷりえ",
  "ロリ",
  "ぷぷりえ",
  "ププリエ",
  "pple",
  "VRChat",
  "VRC",
  "VRChat Event",
  "VRChat Community",
  "VRChat イベント",
  "VRChat コミュニティ",
];
---

<meta charset="UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="description" content={description} />
<meta name="keywords" content={[...commonKeywords, ...keywords].join(", ")} />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
