---
import type { ColorTheme } from "@lib/contents/commons/ColorToken";
import { css, cva } from "@styles/css";
import { contentBgColor } from "@styles/recipes";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  /**
   *
   */
  name: string;

  /**
   *
   */
  color: ColorTheme;
}

const { name, color, ...attrs } = Astro.props;

const length = name.length;

function assertLength(
  length: number,
): asserts length is 2 | 3 | 4 | 5 | 6 | 7 | 8 {
  if (![2, 3, 4, 5, 6, 7, 8].includes(length)) {
    throw new Error("Invalid length");
  }
}

assertLength(length);

const rootStyle = css({
  textStyle: "decorative.bold.lg",
  color: "white",
});

const shapeStyleRecipe = cva({
  base: {
    pos: "absolute",
    w: "full",
    h: "full",
    left: "0",
    top: "0",
    zIndex: "[-1]",

    _before: {
      content: "''",
      pos: "absolute",
      inset: "[-10%]",
      bg: "honey.lite",
    },
  },
  variants: {
    length: {
      2: {
        clipPath:
          '[path("m35 0c-19 0-35 16-35 35s16 35 35 35c9.8 0 19-4 25-11 6.4 6.5 15 11 25 11 19 0 35-16 35-35s-16-35-35-35c-9.8 0-19 4-25 11-6.4-6.5-15-11-25-11z")]',
      },
      3: {
        clipPath:
          '[path("m35 0c-19 0-35 16-35 35s16 35 35 35c9.8 0 19-4 25-11 6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11 19 0 35-16 35-35s-16-35-35-35c-9.8 0-19 4-25 11-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11z")]',
      },
      4: {
        clipPath:
          '[path("m35 0c-19 0-35 16-35 35s16 35 35 35c9.8 0 19-4 25-11 6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11 19 0 35-16 35-35s-16-35-35-35c-9.8 0-19 4-25 11-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11z")]',
      },
      5: {
        clipPath:
          '[path("m35 0c-19 0-35 16-35 35s16 35 35 35c9.8 0 19-4 25-11 6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11 19 0 35-16 35-35s-16-35-35-35c-9.8 0-19 4-25 11-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11z")]',
      },
      6: {
        clipPath:
          '[path("m35 0c-19 0-35 16-35 35s16 35 35 35c9.8 0 19-4 25-11 6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11 19 0 35-16 35-35s-16-35-35-35c-9.8 0-19 4-25 11-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11z")]',
      },
      7: {
        clipPath:
          '[path("m35 0c-19 0-35 16-35 35s16 35 35 35c9.8 0 19-4 25-11 6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11 19 0 35-16 35-35s-16-35-35-35c-9.8 0-19 4-25 11-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11z")]',
      },
      8: {
        clipPath:
          '[path("m35 0c-19 0-35 16-35 35s16 35 35 35c9.8 0 19-4 25-11 6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11s19-4 25-11c6.4 6.5 15 11 25 11 19 0 35-16 35-35s-16-35-35-35c-9.8 0-19 4-25 11-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11s-19 4-25 11c-6.4-6.5-15-11-25-11z")]',
      },
    },
  },
});
---

<span class:list={[rootStyle, attrs.class]} {...attrs} aria-hidden>
  {name}
  <span class:list={[shapeStyleRecipe({ length }), contentBgColor({ color })]}>
  </span>
</span>
