---
import IconDefinition from "@components/decoratives/Icon/IconDefinition.astro";
import type { IconType } from "@components/decoratives/Icon/types";
import Logo from "@components/decoratives/Logo/Logo.astro";
import ShapeDefinition from "@components/decoratives/Shape/ShapeDefinition.astro";
import type { ShapeType } from "@components/decoratives/Shape/types";

export interface SVGDependencies {
  icon?: IconType[];
  shape?: ShapeType[];
}

interface Props {
  use: SVGDependencies;
}

const {
  use: { icon = [], shape = [] },
} = Astro.props;
---

<div aria-hidden role="presentation" hidden>
  <IconDefinition use={icon} />

  <ShapeDefinition use={shape} />
  <Logo definition type="pple" />
  <slot />
</div>
