---
import Icon from "@components/decoratives/Icon/Icon.astro";
---

<div aria-hidden role="presentation" hidden>
  <Icon definition type="flower" />
  <Icon definition type="flower-outline" />
  <Icon definition type="plum" />
  <Icon definition type="cherry-blossom" />
  <Icon definition type="teacup" />
  <Icon definition type="teapot" />
  <Icon definition type="pancake" />
  <slot />
</div>
