---
import Icon from "@components/decoratives/Icon/Icon.astro";
import Logo from "@components/decoratives/Logo/Logo.astro";
---

<div aria-hidden role="presentation" hidden>
  <Icon definition type="flower" />
  <Icon definition type="flower-outline" />
  <Icon definition type="plum" />
  <Icon definition type="cherry-blossom" />
  <Icon definition type="teacup" />
  <Icon definition type="teapot" />
  <Icon definition type="pancake" />

  <Logo definition type="pple" />
  <Logo definition type="pple-knot" />
  <slot />
</div>
