---
import IconDefinition from "@components/decoratives/Vectors/Icon/IconDefinition.astro";
import Logo from "@components/decoratives/Vectors/Logo/Logo.astro";
import FooterDivision from "@components/decoratives/Vectors/FooterDivision/FooterDivision.astro";
---

<div aria-hidden role="presentation" hidden>
  <IconDefinition />
  <Logo definition type="pple" />
  <Logo definition type="vrchat" />
  <FooterDivision definition />
  <slot />
</div>
