---
import IconDefinition from "@components/decoratives/Icon/IconDefinition.astro";
import type { IconType } from "@components/decoratives/Icon/types";
import Logo from "@components/decoratives/Logo/Logo.astro";

export interface SVGDependencies {
  icon?: IconType[];
}

interface Props {
  use: SVGDependencies;
}

const {
  use: { icon = [] },
} = Astro.props;
---

<div aria-hidden role="presentation" hidden>
  <IconDefinition use={icon} />
  <Logo definition type="pple" />
  <slot />
</div>
