---
import type { SocialLinkType } from "@/lib/contents/commons/SocialLink";
import FooterDivision from "@components/decoratives/Vectors/FooterDivision/FooterDivision.astro";
import IconDefinition from "@components/decoratives/Vectors/Icon/IconDefinition.astro";
import type { OptionalIconType } from "@components/decoratives/Vectors/Icon/types";
import LogoDefinition from "@components/decoratives/Vectors/Logo/LogoDefinition.astro";
import LogoIconDefinition from "@components/decoratives/Vectors/LogoIcon/LogoIconDefinition.astro";

interface Props {
  defineIcons?: OptionalIconType[];

  defineLogos?: SocialLinkType[];
}

const { defineIcons, defineLogos } = Astro.props;
---

<div aria-hidden hidden>
  <IconDefinition icons={defineIcons} />
  <LogoDefinition />
  <LogoIconDefinition logos={defineLogos} />
  <FooterDivision definition />
  <slot />
</div>
