---
import { fetchCast } from "@lib/contents/casts";
import { pickColorBase } from "@lib/contents/commons/ColorToken";
import { css } from "@styles/css";

interface Props {
  nickname: string;
}

const { nickname } = Astro.props;

const { themeColor, profile } = await fetchCast(nickname);

const rootStyle = css({
  h: "160",

  bg: "colorPalette.50/70",
  colorPalette: pickColorBase(themeColor),

  display: "flex",
  flexDirection: "column",
  alignItems: "center",
  justifyContent: "flex-start",
});

const profileStyle = css({
  w: "full",

  _pc: {
    w: "256",
    h: "20",
  },
});
---

<section class={rootStyle}>
  <p class={profileStyle}>{profile.introduction}</p>
</section>
