---
import { cva } from "@styles/css";
import type { ColorThemeBase } from "@lib/contents/commons/ColorToken";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"span"> {
  /**
   * カラー
   */
  color: ColorThemeBase;

  /**
   * 折りたたまれているかどうか
   */
  folded?: boolean;

  /**
   * 深い色かどうか
   */
  deep?: boolean;
}

const { color, folded, deep, ...attrs } = Astro.props;

const rootStyleRecipe = cva({
  base: {
    w: "12",
    h: "12",
    zIndex: "front",
    display: "flex",
    justifyContent: "center",

    textStyle: "decorative.bold.4xl",

    color: "white",

    rounded: "full",
    shadow: "xs",
  },
  variants: {
    deep: {
      true: {
        bg: "colorPalette.deep",
        colorPalette: color,
      },
      false: {
        bg: "colorPalette.regular",
        colorPalette: color,
      },
    },
    folded: {
      true: {},
      false: {},
    },
  },
  defaultVariants: {
    deep: false,
    folded: false,
  },
});

const rootStyle = rootStyleRecipe({ deep, folded });
---

<span class:list={[rootStyle, attrs.class]} {...attrs} translate="no">
  <slot />
</span>
