@layer reset;

@layer base {
  html {
    overflow: hidden;
    height: 100%;
    width: 100%;

    font-size: calc(100vw / 1440 * 48);

    @media screen and (min-width: 1440px) {
      font-size: calc(100vw / 1440 * 16);
    }
  }

  body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  p,
  small {
    word-break: keep-all;

    @supports (word-wrap: pretty) {
      word-wrap: pretty;
    }
  }
}

@layer tokens, recipes, utilities;
