@layer reset;

@layer base {
  html {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  body {
    overflow-y: auto;
  }

  p,
  small {
    word-break: keep-all;

    @supports (word-wrap: pretty) {
      word-wrap: pretty;
    }
  }
}

@layer tokens, recipes, utilities;
