---
import { css } from "@/styles/css";
import Icon from "../Icon/Icon.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;

const rootStyle = css({
  textStyle: "normal.bold.xl",
  color: "latte.deep",
});

const iconStyle = css({
  w: "6",
  h: "6",
  fill: "latte.deep",
  display: "inline-block",
  verticalAlign: "[-0.25rem]",
});
---

<h2 class:list={[rootStyle, className]}>
  <Icon type="flower" class={iconStyle} aria-hidden />
  <slot />
  <Icon type="flower" class={iconStyle} aria-hidden />
</h2>
