---
import { css } from "@/styles/css";
import type { HTMLAttributes } from "astro/types";
import Icon from "../Icon/Icon.astro";

interface Props extends HTMLAttributes<"h2"> {}

const props = Astro.props;

const rootStyle = css({
  textStyle: "normal.bold.xl",
  color: "latte.deep",
});

const iconStyle = css({
  w: "6",
  h: "6",
  fill: "latte.deep",
  display: "inline-block",
  verticalAlign: "[-0.25rem]",
});
---

<h2 {...props} class:list={[rootStyle, props.class]}>
  <Icon type="flower" class={iconStyle} aria-hidden />
  <slot />
  <Icon type="flower" class={iconStyle} aria-hidden />
</h2>
