---
import { css } from "@/styles/css";
import Icon from "../Icon/Icon.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;

const rootStyle = css({
  textStyle: "normal.bold.sm",
});

const iconStyle = css({
  w: "4",
  h: "4",
  fill: "latte.regular",
  display: "inline-block",
});
---

<h2 class:list={[rootStyle, className]}>
  <Icon type="flower" class={iconStyle} />
  <slot />
  <Icon type="flower" class={iconStyle} />
</h2>
