---
import Layout from "@layouts/Layout.astro";
---

<Layout
	headMeta={{
		title: "ロリっ子喫茶ぷぷりえ | ホーム",
		description: "Home page",
		keywords: ["home", "page"],
	}}
>
	<section style="background-color: gray, height: 1vh"></section>
	main
</Layout>
