---
import { cva } from "@styles/css";

interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  class?: string;
  position: "left" | "right" | "center";
}

const { class: className, position, ...rest } = Astro.props;

const linkStyle = cva({});
---

<a class:list={[linkStyle, className]} {...rest}>
  <slot />
</a>
