---
import { css } from "@styles/css";

const profileStyle = css({
  w: "full",

  _pc: {
    w: "256",
    h: "20",
  },
});
---

<div>
  {/* 紙を背景に貼るシール */}
  <div>
    <slot name="sticker" />
  </div>

  <p class={profileStyle}>
    {/* 紙の内容 */}
    <slot />
  </p>
</div>
