---
import HomePickupSection from "@components/layouts/Sections/HomePickupSection/HomePickupSection.astro";
import { css } from "@styles/css";

const listStyle = css({
  h: "96",
});
---

<HomePickupSection
  title="おしらせ"
  hrefViewMore="/articles"
  themeColor="matcha"
>
  <p class={listStyle}>News Headline</p>
</HomePickupSection>
