---
import HomePickupSection from "@components/layouts/Sections/HomePickupSection.astro";
import { css } from "@styles/css";
import { bgPattern } from "@styles/recipes";

const rootStyle = css({});
---

<HomePickupSection
  title="News Headline"
  class:list={[rootStyle, bgPattern({ color: "matcha", pattern: "checkered" })]}
  link={{
    label: "News Headline",
    href: "/articles",
  }}
>
  <p>News Headline</p>
</HomePickupSection>
