---
import HomePickupSection from "@components/layouts/Sections/HomePickupSection.astro";
import { css } from "@styles/css";

const rootStyle = css({
  bgGradient: "matcha.checkered",
});
---

<HomePickupSection
  title="News Headline"
  class={rootStyle}
  link={{
    label: "News Headline",
    href: "/articles",
  }}
>
  <p>News Headline</p>
</HomePickupSection>
