---
import HomePickupSection from "@components/layouts/Sections/HomePickupSection/HomePickupSection.astro";
import { css } from "@styles/css";

const rootStyle = css({
  bgGradient: "matcha.checkered",
});
---

<HomePickupSection
  title="おしらせ"
  class={rootStyle}
  hrefViewMore="/articles"
  themeColor="matcha"
>
  <p>News Headline</p>
</HomePickupSection>
