---
import AvatarImage from "@/components/domains/avatar/AvatarImage.astro";
import { ensureNonNil } from "@/lib/utils/type";
import SnapSection from "@components/layouts/Sections/SnapSection.astro";
import { fetchCasts } from "@content/casts";

import { css } from "@styles/css";

const casts = await fetchCasts();

const rootStyle = css({
  bg: "rose.bg",
});
---

<SnapSection class={rootStyle}>
  <ul>
    {
      casts.map(({ profile: { nickname }, avatars }) => (
        <li>
          <a href={`/cast/${nickname}`}>
            <AvatarImage
              avatar={ensureNonNil(avatars[0])}
              type="neutral"
              position="fullBody"
              alt={`${nickname} のアバター`}
            />
          </a>
        </li>
      ))
    }
  </ul>
</SnapSection>
