---
import SnapSection from "@components/layouts/Sections/SnapSection.astro";
import { fetchCasts } from "@content/casts";

import { css } from "@styles/css";

const casts = await fetchCasts();

const rootStyle = css({
  bg: "rose.bg",
});
---

<SnapSection class={rootStyle}>
  <ul>
    {
      casts.map(({ profile: { nickname } }) => (
        <li>
          <a href={`/cast/${nickname}`}>{nickname}</a>
        </li>
      ))
    }
  </ul>
</SnapSection>
