---
import DecorativeAvatarLink from "@components/domains/avatar/DecorativeAvatarLink/DecorativeAvatarLink.astro";
import HomePickupSection from "@components/layouts/Sections/HomePickupSection/HomePickupSection.astro";
import { fetchCasts } from "@lib/contents/casts";

import { css } from "@styles/css";

const casts = await fetchCasts();

const listStyle = css({
  display: "flex",
  flexDir: "row",
  alignItems: "end",
  justifyContent: "center",
  gap: "4",
  pb: "8",

  h: "96",
  w: "256",
  bg: "white",
  rounded: "2xl",
  borderStyle: "dashed",
  borderWidth: "lg",
  borderColor: "latte.regular",

  // デバイス側でアニメーションを有効にしない人には可愛く見えない呪い .. motionSafe
  _motionSafe: {
    "& > li": {
      transformOrigin: "center",
      transition: ["transform", "opacity"],
    },

    _hover: {
      "& > li:not(:hover)": {
        opacity: "[0.25]",
        transform: "[scale(0.9) rotate(1deg)]",
      },
    },
  },
});

const listItemStyle = css({
  w: "28",
  h: "72",

  display: "flex",
  flexDir: "column",
  alignItems: "center",
});

const imageWrapStyle = css({
  w: "full",
  h: "full",
  p: "-4",
  display: "flex",
  flexDir: "column",
  alignItems: "center",
});
---

<HomePickupSection
  title="店員さんピックアップ"
  themeColor="rose"
  hrefViewMore="/cast"
>
  <ul class={listStyle}>
    {
      casts.map(({ profile: { nickname } }) => (
        <li class={listItemStyle}>
          <DecorativeAvatarLink
            class={imageWrapStyle}
            nickname={nickname}
            type="neutral"
            avatarIndex={0}
            width={512}
          />
        </li>
      ))
    }
  </ul>
</HomePickupSection>
