---
import { css } from "@styles/css";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}

const props = Astro.props;

const shapeStyle = css({
  pos: "absolute",
  left: "[50%]",
  top: "[50%]",
  transform: "[translate(-50%, -50%)]",
  rounded: "full",
  w: "36",
  h: "36",

  borderWidth: "sm",
  borderStyle: "solid",
  borderImage:
    "[linear-gradient(-45deg, {colors.smoke.bg}, {colors.smoke.lite})]",
  bgGradient: "white.stripe",
  opacity: "[0.7]",
});

const circleStyle = css({
  rounded: "full",
  bg: "white/30",
  w: "[inherit]",
  h: "[inherit]",
});
---

<div class={shapeStyle} {...props}>
  <div class={circleStyle}></div>
</div>
