---
import type { ColorThemeBase } from "@/lib/contents/commons/ColorToken";
import { css, cva } from "@styles/css";

interface Props {
  theme: ColorThemeBase;
}

const { theme } = Astro.props;

const shapeStyle = cva({
  base: {
    pos: "absolute",
    left: "[50%]",
    top: "[50%]",
    transform: "[translate(-50%, -50%)]",
    rounded: "full",
    w: "36",
    h: "36",
    bg: "white",

    borderWidth: "md",
    borderStyle: "solid",
    borderImageSource:
      "linear-gradient(to bottom, {colors.smoke.bg}, {colors.smoke.lite})",
  },
  variants: {
    theme: {
      smoke: {
        bgImage:
          "repeating-linear-gradient(-45deg, {colors.smoke.bg/20} 0 0.5rem, transparent 0.5rem 1rem)",
      },
      olive: {
        bgImage:
          "repeating-linear-gradient(-45deg, {colors.olive.bg/20} 0 0.5rem, transparent 0.5rem 1rem)",
      },
      berry: {
        bgImage:
          "repeating-linear-gradient(-45deg, {colors.berry.bg/20} 0 0.5rem, transparent 0.5rem 1rem)",
      },
      honey: {
        bgImage:
          "repeating-linear-gradient(-45deg, {colors.honey.bg/20} 0 0.5rem, transparent 0.5rem 1rem)",
      },
      soda: {
        bgImage:
          "repeating-linear-gradient(-45deg, {colors.soda.bg/20} 0 0.5rem, transparent 0.5rem 1rem)",
      },
      rose: {
        bgImage:
          "repeating-linear-gradient(-45deg, {colors.rose.bg/20} 0 0.5rem, transparent 0.5rem 1rem)",
      },
      matcha: {
        bgImage:
          "repeating-linear-gradient(-45deg, {colors.matcha.bg/20} 0 0.5rem, transparent 0.5rem 1rem)",
      },
      latte: {
        bgImage:
          "repeating-linear-gradient(-45deg, {colors.latte.bg/20} 0 0.5rem, transparent 0.5rem 1rem)",
      },
      lavender: {
        bgImage:
          "repeating-linear-gradient(-45deg, {colors.lavender.bg/20} 0 0.5rem, transparent 0.5rem 1rem)",
      },
      carrot: {
        bgImage:
          "repeating-linear-gradient(-45deg, {colors.carrot.bg/20} 0 0.5rem, transparent 0.5rem 1rem)",
      },
      ice: {
        bgImage:
          "repeating-linear-gradient(-45deg, {colors.ice.bg/20} 0 0.5rem, transparent 0.5rem 1rem)",
      },
      mint: {
        bgImage:
          "repeating-linear-gradient(-45deg, {colors.mint.bg/20} 0 0.5rem, transparent 0.5rem 1rem)",
      },
    },
  },
});

const circleStyle = css({
  rounded: "full",
  bg: "white/30",
  w: "[inherit]",
  h: "[inherit]",
});
---

<div class={shapeStyle({ theme })}>
  <div class={circleStyle}></div>
</div>
