---
import { css } from "@styles/css";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"a"> {
  /**
   *
   */
  url: URL;

  /**
   *
   */
  description: string;
}

const linkStyle = css({
  rounded: "full",
  shadow: "xs",
  w: "8",
  h: "8",
  display: "flex",
  alignItems: "center",
  justifyContent: "center",
});

const { url, description, class: className, ...rest } = Astro.props;
---

<a
  href={url}
  aria-label={description}
  class:list={[linkStyle, className]}
  {...rest}
>
  <slot />
</a>
