---
import type { ColorThemeBase } from "@content/commons";
import { cva } from "@styles/css";
import type { HTMLAttributes } from "astro/types";
import type { SocialLinkVariant } from "../../type";

export interface Props extends HTMLAttributes<"a"> {
  /**
   *
   */
  url: URL | string;

  /**
   *
   */
  description: string;

  /**
   *
   */
  variant: SocialLinkVariant;

  /**
   *
   */
  color?: ColorThemeBase;
}

const {
  url,
  description,
  class: className,
  variant,
  color,
  ...rest
} = Astro.props;

const linkStyleRecipe = cva({
  base: {
    w: "7",
    h: "7",
    display: "flex",
    alignItems: "center",
    justifyContent: "center",
  },
  variants: {
    variant: {
      sticker: {
        rounded: "full",
        shadow: "xs",
      },
      "vector-light": {},
      "vector-dark": {},
    },
  },
});

const linkStyle = linkStyleRecipe({ variant });
---

<a
  href={url}
  aria-label={description}
  class:list={[linkStyle, className]}
  {...rest}
>
  <slot />
</a>
