---
import {
	type DescriptionMetaProps,
	default as HeadMeta,
} from "@components/layouts/HeadMeta/index.ts";
import Header from "@components/layouts/Header/Header.astro";
import ResponsiveScript from "@components/layouts/ResponsiveScript/ResponsiveScript.astro";
import TemplateDefinition from "@components/layouts/TemplateDefinition/TemplateDefinition.astro";

interface Props {
	headMeta: DescriptionMetaProps;
}

const {
	headMeta: { title, description, keywords },
} = Astro.props;
---

<!doctype html>
<html lang="ja" dir="ltr">
	<head>
		<HeadMeta title={title} description={description} keywords={keywords} />
		<ResponsiveScript />
	</head>

	<body>
		<TemplateDefinition>
			<slot name="template-definition" />
		</TemplateDefinition>
		<Header />
		<slot />
	</body>
</html>
