---
import FooterDivision from "@components/decoratives/Vectors/FooterDivision/FooterDivision.astro";
import { css } from "@styles/css";

const wrapperStyle = css({
  w: "full",
  display: "flex",
});

const divisionStyle = css({
  top: "0",
  w: "128",
});

const pcOnly = css({
  display: "none",
  _pc: {
    display: "block",
  },
});
---

<div class={wrapperStyle} aria-hidden role="presentation">
  <FooterDivision class:list={[divisionStyle]} />
  <FooterDivision class:list={[divisionStyle, pcOnly]} />
  <FooterDivision class:list={[divisionStyle, pcOnly]} />
</div>
