---
import FooterDivision from "@components/decoratives/Vectors/FooterDivision/FooterDivision.astro";
import { css } from "@styles/css";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...rest } = Astro.props;

const wrapperStyle = css({
  w: "full",
  display: "flex",
});

const divisionStyle = css({
  top: "0",
  w: "128",
});

const pcOnly = css({
  display: "none",
  _pc: {
    display: "block",
  },
});
---

<div
  class:list={[wrapperStyle, className]}
  aria-hidden
  role="presentation"
  {...rest}
>
  <FooterDivision class:list={[divisionStyle]} />
  <FooterDivision class:list={[divisionStyle, pcOnly]} />
  <FooterDivision class:list={[divisionStyle, pcOnly]} />
</div>
